header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
}
.logo {
}
.img-logo {
  object-fit: contain;
  width: 160px;
}
.social-links {
  display: flex;
  gap: 15px;
  align-items: center;
}
.social-link-a {
}
.social-link-icon {
  color: #000;
  transition: all 0.4s;
  font-size: 28px;
}
.social-link-icon:hover {
  color: #333;
}
.toggle-btn {
  appearance: none;
  border: none;
  width: 22px;
  height: 22px;
  position: relative;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}
.line {
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 4px;
  left: 0;
  border-radius: 25px;
}
.line1 {
  top: 0;
}
.line2 {
  top: 50%;
  transform: translateY(-50%);
}
.line3 {
  bottom: 0;
}
.line {
  transition: all 0.4s ease-in-out;
}
.toggle-btn.active .line1 {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  width: 125%;
  background-color: #fff;
}
.toggle-btn.active .line2 {
  opacity: 0;
  transform: scaleY(0);
}
.toggle-btn.active .line3 {
  transform: rotate(-45deg);
  width: 125%;
  transform-origin: 0% 100%;
}
.toggle-btn.active .line{
    background-color: #fff;
}
.toggle {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #eb0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.toggle.show {
  transform: translateX(0);
}
.mobile-nav-sections-links {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 500;
}
.nav-sections-links {
}
.section-links {
  display: none;
}
.ranking {
}

@media (min-width: 768px) {
  header {
  }
  .img-logo {
  }
  .social-links {
  }
  .social-link-a {
  }
  .social-link-icon {
  }
  .toggle-btn {
  }
  .line {
  }
  .line1 {
  }
  .line2 {
  }
  .line3 {
  }
  .toggle {
  }
  .nav-sections-links {
  }
  .section-links {
  }
  .ranking {
  }
}

@media (min-width: 1024px) {
  header {
  }
  .img-logo {
  }
  .social-links {
  }
  .social-link-a {
  }
  .social-link-icon {
  }
  .toggle-btn {
  }
  .line {
  }
  .line1 {
  }
  .line2 {
  }
  .line3 {
  }
  .toggle {
  }
  .nav-sections-links {
  }
  .section-links {
  }
  .ranking {
  }
}

@media (min-width: 1440px) {
  header {
  }
  .img-logo {
  }
  .social-links {
  }
  .social-link-a {
  }
  .social-link-icon {
  }
  .toggle-btn {
  }
  .line {
  }
  .line1 {
  }
  .line2 {
  }
  .line3 {
  }
  .toggle {
  }
  .nav-sections-links {
  }
  .section-links {
  }
  .ranking {
  }
}
